body{
	background-color: #f5f5f5;
}
input:focus
{
	outline: none;
}
a
{
	color: #000;
}
a:hover
{
	text-decoration: none;
	color:#000;
}
.btn-primary {
    color: #fff;
    background-color: #607332;
    border-color: #607332;
}

.btn-primary:hover
{
	background-color: #607332;
    border-color: #607332;
}
.top{
  background-color:white;
  padding: 10px;
  font-size: 20px;
  color: #090942;
  text-transform: uppercase;
}
.top .wrapper h1 span{
	color: blue;
}
.top .wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .wrapper .left img{max-width: 55%;}
.top .wrapper .right .logout
{

font-size: 16px;

font-weight: 600;
}


.login-wrapper{
	padding: 30px 0;
}
.login-wrapper .sub-wrapper h2{
	text-align: center;
	color: #000000;
}
.login-wrapper form{
}
.login-wrapper .form{
    display: block;
    padding: 30px;
    font-weight: bold;
    width: 33%;
    background: #fff;
    margin: 50px auto 0;
}
.login-wrapper .form input{
	width: 100%;
	border:0;
	box-shadow: none;
	border-radius: 5px;
	padding: 10px;
	border: 1px solid #e0e0e0;
}
.login-wrapper .button-wrapper{
	text-align: center;
	margin-top: 25px;
}
.login-wrapper .logo{
    text-align: center;
    margin-bottom: 40px;
}
.login-wrapper .logo img{}
.menu{background: #fff;border-top: 1px solid #e4e4e4;}
.menu ul{
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}
.menu ul li{
}
.menu ul li a{
    padding: 12px 0;
    display: block;
}

.dashboard-wrapper .form-details{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.dashboard-wrapper .form-details .box{
	background-color: white;
	/* box-shadow: 0 12px 15px rgba(0, 0, 0, 0.22); */
	padding:30px;
	text-align: center;
	width: 32%;
}
.dashboard-wrapper .form-details .box h4{
    font-size: 20px;
}
.dashboard-wrapper .form-details .box p{margin-bottom: 0;display: inline-block;width: 43px;height: 43px;background: #b7cf65;border-radius: 50%;line-height: 38px;color: #fff;margin-top: 10px;}
.dashboard-wrapper .login-details{
	margin-top: 40px;
}
.dashboard-wrapper .login-details .table
{height: 220px;overflow-y: auto;}
.dashboard-wrapper .login-details .table table{
	width: 100%;
}
.dashboard-wrapper .login-details h2{
    font-size: 22px;
    margin-bottom: 20px;
}

.death table
{
	width: 100%;
}




